@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

ion-split-pane {
  --side-width: 16rem;
}

[data-amplify-authenticator] [data-amplify-router] {
  border: none;
  background: none;
  box-shadow: none;
}

.amplify-button--primary {
  background-color: #142F54;
}

.amplify-button--primary:hover {
  background-color: #23416b;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1;
  /* Firefox */
}

input::placeholder {
  opacity: 0.5;
  color: rgb(0, 0, 0);
}

.searchbar-input-container .searchbar-input {
  color: #0A0A0A;
}